*{
    padding: 10px;
    margin: 0;
}
body{
    background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZCUyMGZvb2R8ZW58MHx8MHx8fDA%3D");
    background-position: center;
    background-size: cover;

}
